.navbar .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 160px 24px 160px;
}
.navbar .nav .logo {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar .nav .btn-primary {
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;

  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  margin: 0px 10px;
  padding: 15px 30px;
}
.banner {
  width: auto;
  height: 600px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 0px 100px 100px 100px;
  align-items: center;
  margin: 0px 160px 0px 160px;
  display: flex;
  justify-content: space-between;
}
.banner .text {
  width: 622px;
  height: 325px;
}
.banner .text .title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.banner .text .big-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}
.banner .text .btn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px 17px 34px;
  border: none;
}
.banner .bg {
  width: 474.03px;
  height: 329.21px;
}
.main-part {
  padding: 24px 160px 24px 160px;
}
.main-head .main-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.box {
  padding: 24px 160px 24px 160px;
  display: flex;
}
.box .category {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background: rgb(255, 255, 255);
  margin: 0px 24px 0px 0px;
  padding: 24px;
}
.box .title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.box .description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.main-part-2 {
  padding: 24px 160px 24px 160px;
}
.main-part-2 .head {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.main-part-2 .head-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.all .box {
  justify-content: center;
}
.g-box {
  display: flex;
}
.g-box .category-1 .category-2 .category-3 {
  margin: 32px 24px 0px 0px;
}
.g-box .category-1 {
  width: 410.67px;
  height: 325px;
  background-color: rgba(84, 144, 245, 0.2);
  margin: 0px 24px 0px 0px;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;

  background: rgba(84, 144, 245, 0.2);
}
.g-box .category-1 .title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.g-box .category-1 .description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.g-box .category-1 .btn-blue {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;

  background: rgb(84, 144, 245);
  border: none;
  padding: 11px 20px 11px 20px;
}

/* Green-One */
.g-box .category-2 {
  width: 410.67px;
  height: 325px;
  background-color: rgba(84, 144, 245, 0.2);
  margin: 0px 24px 0px 0px;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;

  background: rgb(198, 228, 214);
}
.g-box .category-2 .title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.g-box .category-2 .description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25px;
}
.g-box .category-2 .btn-green {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;

  background: rgb(9, 161, 92);
  border: none;
  padding: 11px 20px 11px 20px;
}

/* Yellow-One */
.g-box .category-3 {
  width: 410.67px;
  height: 325px;
  background-color: rgba(84, 144, 245, 0.2);
  margin: 0px 24px 0px 0px;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;

  background: rgb(247, 235, 207);
}
.g-box .category-3 .title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.g-box .category-3 .description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 25px;
}
.g-box .category-3 .btn-yellow {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  background: rgb(255, 194, 57);
  border: none;
  padding: 11px 20px 11px 20px;
}
.yunus {
  padding: 24px 160px 24px 160px;
}
.speech {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background: rgb(255, 255, 255);
  padding: 48px 24px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 4% 15%;
}
.speech .speech-yunus {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.speech .name {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.speech .introduction {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.news {
  padding: 24px 160px 24px 160px;
}
.news .news-head .Recent-News {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0px;
}
.news .news-head .news-text {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 32px 0px;
}
.news .news-box {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
  border-radius: 24px;
  background: rgb(255, 255, 255);
  padding: 48px;
  display: flex;
  gap: 32px;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.214);
  border-radius: 24px;
}
.news-box .bg img {
  width: 408px;
  height: 340px;
  border-radius: 24px;
}
.news .news-content {
  display: flex;
  flex-direction: column;
}

.news-content .name {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  margin: 12px 0px;
}
.news-content .al-zazera {
  width: 134px;
  height: 40px;
  margin: 12px 0px;
}
.news-content .date-time {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 24px; */
  letter-spacing: 0%;
  text-align: left;
}
.news-content .news-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0px;
}
.news-content .news-btn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  border: none;
  background: rgb(0, 106, 80);
  padding: 13px 26px;
  margin-top: 20px;
}
.another-news {
  padding: 24px 160px 24px 160px;
}
.another-news .another-content {
  padding: 48px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.214);
  border-radius: 24px;
}
.news-2 {
  padding: 24px 160px 24px 160px;
}
.news-2 .like-1 {
  padding: 48px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.214);
  border-radius: 24px;
}
.donate-some-money {
  padding: 24px 160px 24px 160px;
  text-align: center;
}
.donate {
  width: auto;
  height: auto;
}
.donate-some-money .donate .headline {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}
.donate-some-money .donate .donate-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.donate-some-money .donate .quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.donate-some-money .donate .quantity .amount {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  /* margin: 0px 24px 32px 24px; */
  padding: 0px 40px;
}
.quantity .amount .text-amount {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.donate-other-amount {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  width: 1032px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px 20px 40px;
  margin: 32px 80px 32px 80px;
}
.donate-other-amount .placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.donate .btn-last {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px;
}
.subscribe-tab {
  padding: 24px 160px 24px 160px;
}
.subscribe-tab .content {
  width: auto;
  height: auto;
}
.subscribe-tab .content .element {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 100px;
}
.subscribe-tab .content .big-text {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.subscribe-tab .content .subscribe-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.subscribe-tab .content .subscribe-table {
  text-align: center;
}
.subscribe-tab .content .subscribe-table .input-email {
  width: 600px;
  height: auto;
  padding: 18px 40px;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 0px;
}
.subscribe-tab .content .subscribe-table .subscribe-btn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 0px 8px 8px 0px;
  border: none;
  background: rgb(0, 106, 80);
  padding: 18px 34px 19px 34px;
  margin-left: -3.5px;
}
.subscribe-tab .content .last-spam {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 25px;
}


